/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General Styling */
:root {
  --background: #ffffff;
  --surface: #ffffff;
  --surface-1: #ffffff;
  --surface-2: #ffffff;
  --surface-8: #ffffff;
  --primary: #0288ee;
  --secondary: #6802ee;
  --error: #b00020;
  --shadow: #666666;
  --on-background-light: #666666;
  --on-background: #212121;
  --on-surface-lighter: #9e9e9e;
  --on-surface-light: #666666;
  --on-surface: #212121;
  --on-primary: #ffffff;
  --on-secondary: #ffffff;
  --on-error: #ffffff;

  /* Source: https://stackoverflow.com/questions/30533055/calculating-shadow-values-for-all-material-design-elevations */
  --1dp-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  --2dp-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  --8dp-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.dark-mode {
  --background: #121212;
  --surface-0: #121212;
  --surface-1: #1e1e1e;
  --surface-2: #232323;
  --surface-8: #2f2f2f;
  --primary: #8dcafe;
  --secondary: #ba95f6;
  --error: #cf6679;
  --on-background: #ffffff;
  --on-surface: #ffffff;
  --on-primary: #000000;
  --on-secondary: #000000;
  --on-error: #000000;
}

body {
  font-family: 'Outfit', sans-serif;
}
